html
  head
    title= title
  body
    h1= message
    form(action="/handle-form", method="POST")
        label(for="note-title")= "Note title"
        br
        input(type="text", id="note-title", name="noteTitle")
        br
        label(for="note-contents")= "Note text"
        br
        textarea(id="note-contents", name="noteContents")
        br
        button(type="submit")= "Add"
    button(type="button" id="my-notes")= "My notes"
    div.notes-container
        div.current-note
        ul.notes-list
    script(src="js/script.js")